*{
    margin: ;
    border-radius: 5px;
    box-sizing: border-box;
}

nav{
    text-align: center;
    height: 20px;
    padding: 20px;
}
.header{
    background-color: #F5EAD6;
}
.alert{
    font-size: 20px;
    font-weight: 600;
}

.hero-sect{
    width: 80%;
    margin: auto;
    margin-top: 80px;
}

.hero-sect{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.nameclass{
    position: relative;
}

.tony{
    position: absolute
}

.mentor{
    font-size: 80px;
    font-style: italic;
    color: #F2F4F4;
    font-weight: 100px;
    font-size: 50px;
    font-style: italic;
    gap: 1em;
    top: 30px;
}

.tony{
    color: rgb(44, 25, 25);
    left: 550px;
    top: -5px;
}

.btn-btn{
    align-items: center;
    margin: auto;
}
 


/* --- RESPONSIVE FIXED --- */

@media (max-width:1440px) {
    .tony{
        text-align: center;
        position: absolute;
        left: 619px;
    }
    
}
@media (max-width:1024px) {
    .tony{
        position: absolute;
        left: 420px;
    }
    
}

@media (max-width:960px) {
    .hero-sect{
        flex-direction: column;
    }
    .tony{
        text-align: center;
    }
}

@media (max-width:768px) {
    .tony{
        position: absolute;
        left: 290px;
    }
    
}

@media (max-width: 680px) {
    .hero-sect{
        flex-direction: column;
        text-align: center;
    }
    
}

@media( max-width: 425px){
    .tony{
        position: absolute;
        left: 200px;
        align-items: center;
        display: none;
    }
}