*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
nav{
    padding: 30px;
}


.container{
    width: 100%;
    height: 80vh;
    display: flex;
    padding: 30px;
    gap: 5em;
    padding: 100px;
    margin: auto;

}

.card{
    width: 50%;
    height: 75vh;
    padding: 30px;
    background-color: #383838;
}
.card-text{
    color: white;
}
.card a{text-decoration: none;
    color:black;}

.firstimg{
    width: 400px;
    height: 300px;
}

.standing-fan{
    width: 400px;
    height: 300px;
}
.football-img{
    width: 300px;
    height: 300px;
    padding: -45px;
}

.card-card{
    width: 450px ;
    margin: auto;
    height: 70vh;
    padding: 30px;
    background-color: #383838;

}